*{
    margin: 0 auto;
    font-family: Microsoft JhengHei;
}
body{
    background-color:#61A2DA;
}
#color_setting{
    width: 800px;
    margin-top: 100px;
    text-align: center;
    border-width:2px;
    border-style:dashed;
    border-color:gray;
    padding:5px;
    color: white;
}
#wrapper{
    width: 800px;
    height: 600px;
    border-radius: 75px;
    box-shadow:3px 3px 4px 4px gray;
    background-color: #F6A7B8;
}
#calc_header{
    height: 100px;
    position: relative;
}
#answer_window{
    height: 70px;
}
hr{
    width: 700px;
}
#btn_group{
    width: 700px;
}
.btn{
    width: 170px;
    display: inline-block;
    margin-top:5px;
    font-size: 20px;
}
.large_button{
    width: 345px;
}
button{
    height: 60px;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 6px;
}
.btn-number{
    background-color: white;
    color:black; 
}
.btn-number:hover {
    background-color: #e3e5e8;
    color:white;
}
.btn-calc{
    background-color: gray;
    color:black;
}
.btn-calc:hover{
    background-color: #595959;
    color:black;
}
.btn-clear{
    background-color: #F1EC7A;
    color:black;
}
.btn-clear:hover{
    background-color: #b7b784;
    color:black;
}
.btn-answer{
    background-color: #F08838;
    color:black;
}
.btn-answer:hover{
    background-color: #c66c27;
    color:black;
}
#answer_window > input{
    text-align: right;
    display: block;
    width: 680px;
    height: 60px;
    font-size: 32px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .5rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
p{
    position: absolute;
    bottom: 20px;
    left: 50px;
}
.title{
    font-size: 40px;
    color: white;
}
